@model IEnumerable<Pie>
<h2>Pie Management</h2>
@if (!Model.Any())
{
    <tr><td colspan="3" class="text-center">No pies at this point :()</td></tr>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Pie ID</th>
            <th>Name</th>
            <th>In stock</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        @foreach (var pie in Model)
        {
            <tr>
                <td>@pie.Id</td>
                <td>@pie.Name</td>
                <td><input type="checkbox" asp-for="@pie.IsInStock" />
                <td>@pie.Price</td>
                <td>
                    <form asp-controller="PieManagement" asp-action="DeletePie" asp-route-id="@pie.Id" method="post">
                        <a class="btn btn-sm btn-primary" asp-action="EditPie" asp-route-id="@pie.Id">Edit</a>
                        <button type="submit" onclick="return confirm('Do you really want to delete this pie?');" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
<p>
    <a class="btn btn-primary" asp-action="AddPie">Add new pie</a>
</p>
